{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Inicio</h2>
            </div>
            <div class="card-body">
                Te damos la bienvenida al portal de admin para la gestión de instituciones de Cidepint.
            </div>
            <div class="card-footer bg-transparent border-success text-right"">
                20/10/2023
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">En desarrollo ..</h2>
            </div>
            <div class="card-body">
                El sitio esta en desarrollo actualmente puede que haya funcionalidades que no esten disponibles.
            </div>
            <div class="card-footer bg-transparent border-success text-right"">
                21/10/2023
            </div>
        </div>
    </div>
{% endblock %}


